html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  html body {
    background-color: #f9f9f9; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }
